.imageContainer{
  position: relative;
  height: 125px;
  width: auto;
}

.hiddenButton {
  display: inline-block;
  position: absolute;
  color: black;
  width: 50px;
  height: 50px;
  top: 25%;
  left: 25%;
  opacity: 0;
  border: none;
  background-color:transparent;
}

.hiddenButton:hover{
  opacity: 1;
}

