.marker-container {
  display: flex;
  justify-content: center;
}

.markerNameTagDiv {
  position: absolute;
  top: 105%;
  width: fit-content;
  padding: 0;
  margin: 0;
  user-select: none;
  pointer-events: none;
  text-overflow: ellipsis;
}

.markerStatusBox {
  /* position: relative; */
  /* bottom: 105%; */
  /* left: -10%; */
  /* right: -10%; */
  user-select: none;
  pointer-events: none;
}

.statusImageDiv {
  width: 30%;
  height: 30%;
}

.statusImageDiv1 {
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translate(-50%, 0);
}
.statusImageDiv2 {
  position: absolute;
  bottom: 85%;
  left: 85%;
}
.statusImageDiv3 {
  position: absolute;
  right: 85%;
  bottom: 85%;
}
.statusImageDiv4 {
  position: absolute;
  right: 105%;
  top: 50%;
  transform: translate(0, -50%);
}
.statusImageDiv5 {
  position: absolute;
  left: 105%;
  top: 50%;
  transform: translate(0, -50%);
}

.statusOverflowDiv {
  width: 100%;
  position: absolute;
  left: 105%;
  bottom: 50%;
  transform: translate(35%, 50%);

  border: 2px solid black;
  background: lightgray;
}

.marker-imager {
  user-select: none;
  pointer-events: none;
}
