.icon-text {
    font-size: large;
    font-weight: 700;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        1px 1px 0 white;
    left: -1000%;
    right: -1000%;
    top: 110%;
}
